# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Bases de données
*.db
*.sqlite
*.sqlite3

# SoapUI
*-soapui-project.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environnement
.env
.env.local
